#progressDownloadWidget,
#progressVerificationWidget,
#progressScanWidget
{
	background-color: @positive;
}
#progressDownloadWidget:disabled,
#progressVerificationWidget:disabled,
#progressScanWidget:disabled
{
	background-color: @disabled;
}


#pushButtonGooglePlay
{
	image: url(:/images/brands/google-play.png);
}
#pushButtonAppStore
{
	image: url(:/images/brands/app-store.png);
}
#pushButtonAuthy
{
	image: url(:/images/brands/authy.png);
}
