QFrame
{
    background-color: @background;
    border-radius: 15px;
}


QGroupBox
{
    border: 0px;
}


QScrollArea #detailsWidget
{
    background: transparent;
}


QTextEdit
{
    background-color: @background_second;
    selection-background-color: gray;
    border-radius: 10px;
    padding: 10px;
}


#labelTitle
{
    background-color: @background_second;
    border-radius: 15px;
}


#pushButtonAccept,
#pushButtonCancel
{
    color: @white;
    background-color: @highlight;
    border-radius: 5px;
}
#pushButtonAccept::disabled,
#pushButtonCancel::disabled
{
    background-color: @disabled;
}


#pushButtonEye
{
    background-color: @background_second;
    border-radius: 10px;
}
