StakeItem
{
	background-color: @background;
	border-radius: 5px;
}
StakeItem:hover
{
	background-color: @background_second;
}


QPushButton:checked
{
	background-color: @background_second;
}


#labelTVL
{
	color: @highlight;
}


#labelStakeTokenIcon
{
	border: 2px solid @background;
	border-radius: 12px;
}


#labelAPYValue
{
	color: @positive;
}
